<!-- top navigation 
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/btn-1.png">
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/btn-2.png">
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/btn-3.png">
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/btn-4.png">
        </div>
      </div>
    </div>
  </div>-->
<!--
<div class="container">
<header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 text-center">
          <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Ville,Quartier ou Nom d'établissement">
      </div>
      <div class="col-3 text-center">
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Date et Durées">
        </div>
        <div class="col-3 text-center">
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Personnes (Adultes et enfants)">
          </div>
          <div class="col-4 text-center">
              <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
    </div>
  </header>
</div>

-->

<video autoplay muted loop id="home">
  <source src="assets/videos/offrepage.mp4" type="video/mp4">
</video>


<div style="overflow:auto">
  <div class="menu">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Cras justo odio

      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Dapibus ac facilisis in

      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Morbi leo risus

      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Morbi leo risus

      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Morbi leo risus

      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Morbi leo risus

      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Morbi leo risus

      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Morbi leo risus

      </li>
    </ul>
  </div>




  <div class="container-fluid">
    <div style="height :500px ; overflow-x:hidden">
      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <div class="row">
              <div class="col-xs-3 col-md-3 text-center">
                <img class="media-object" width="200" height="200" src="assets/images/h1.jpg">
              </div>
              <div class="col-xs-9 col-md-9 section-box">
                <h2>
                  Offre 1
                </h2>
                <p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                  page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis
                  les années 1500, quand un imprimeur anonyme assembla ensemble
                  des morceaux de texte pour réaliser un livre spécimen de polices de texte. </p>
                <hr />
                <div class="row rating-desc">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-warning btn-lg">Réserver</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top:20px">
        <div class="col-md-12">
          <div class="well">
            <div class="row">
              <div class="col-xs-3 col-md-3 text-center">
                <img class="media-object" width="200" height="200" src="assets/images/h2.jpg">
              </div>
              <div class="col-xs-9 col-md-9 section-box">
                <h2>
                  Offre 2
                </h2>
                <p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                  page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis
                  les années 1500, quand un imprimeur anonyme assembla ensemble
                  des morceaux de texte pour réaliser un livre spécimen de polices de texte. </p>
                <hr />
                <div class="row rating-desc">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-warning btn-lg">Réserver</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" style="margin-top:20px">
          <div class="well">
            <div class="row">
              <div class="col-xs-3 col-md-3 text-center">
                <img class="media-object" width="200" height="200" src="assets/images/h3.jpg">
              </div>
              <div class="col-xs-9 col-md-9 section-box">
                <h2>
                  Offre 3
                </h2>
                <p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                  page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis
                  les années 1500, quand un imprimeur anonyme assembla ensemble
                  des morceaux de texte pour réaliser un livre spécimen de polices de texte. </p>
                <hr />
                <div class="row rating-desc">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-warning btn-lg">Réserver</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" style="margin-top:20px">
          <div class="well">
            <div class="row">
              <div class="col-xs-3 col-md-3 text-center">
                <img class="media-object" width="200" height="200" src="assets/images/h4.jpg">
              </div>
              <div class="col-xs-9 col-md-9 section-box">
                <h2>
                  Offre 4
                </h2>
                <p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                  page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis
                  les années 1500, quand un imprimeur anonyme assembla ensemble
                  des morceaux de texte pour réaliser un livre spécimen de polices de texte. </p>
                <hr />
                <div class="row rating-desc">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-warning btn-lg">Réserver</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" style="margin-top:20px">
          <div class="well">
            <div class="row">
              <div class="col-xs-3 col-md-3 text-center">
                <img class="media-object" width="200" height="200" src="assets/images/h6.jpeg">
              </div>
              <div class="col-xs-9 col-md-9 section-box">
                <h2>
                  Offre 5
                </h2>
                <p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                  page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis
                  les années 1500, quand un imprimeur anonyme assembla ensemble
                  des morceaux de texte pour réaliser un livre spécimen de polices de texte. </p>
                <hr />
                <div class="row rating-desc">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-warning btn-lg">Réserver</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" style="margin-top:20px">
          <div class="well">
            <div class="row">
              <div class="col-xs-3 col-md-3 text-center">
                <img class="media-object" width="200" height="200" src="assets/images/h1.jpg">
              </div>
              <div class="col-xs-9 col-md-9 section-box">
                <h2>
                  Offre 6
                </h2>
                <p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                  page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis
                  les années 1500, quand un imprimeur anonyme assembla ensemble
                  des morceaux de texte pour réaliser un livre spécimen de polices de texte. </p>
                <hr />
                <div class="row rating-desc">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-warning btn-lg">Réserver</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>


  </div>

