<!-- top navigation 
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/btn-1.png">
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/btn-2.png">
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/btn-3.png">
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/btn-4.png">
        </div>
      </div>
    </div>
  </div>-->
<!--
<div class="container">
<header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 text-center">
          <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Ville,Quartier ou Nom d'établissement">
      </div>
      <div class="col-3 text-center">
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Date et Durées">
        </div>
        <div class="col-3 text-center">
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Personnes (Adultes et enfants)">
          </div>
          <div class="col-4 text-center">
              <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
    </div>
  </header>
</div>

-->

<video autoplay muted loop id="home">
  <source src="assets/videos/offrepage.mp4" type="video/mp4">
</video>





<div style="overflow:auto;margin-top: 10px">
  <div class="menu">
<div class="container">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-md-12">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
      </div>

      <div class="form-group">
        <label for="example-date-input" class="col-md-12 control-label">Date</label>
        <div class="col-md-12">
          <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
        </div>
      </div>

      <div class="form-group">
          <label for="example-date-input" class="col-md-12 control-label">Prix</label>
          <div class="col-md-12">
              <input type="range" class="form-control-range" id="formControlRange">
          </div>
        </div>

        <div class="form-group">
            <label for="example-date-input" class="col-md-12 control-label">Nb personnes (Adultes/Enfants/âge)</label>
            <div class="col-md-12">
                Adultes : <input type="number" class="form-control">
                Enfants: <input type="number" class="form-control">
                Age :<input type="number" class="form-control">
            </div>
          </div>

       <div class="form-group">
          <label for="example-date-input" class="col-md-12 control-label"></label>
          <div class="col-md-12">
              <div class="checkbox">
                  <label><input type="checkbox" value=""> A la une  </label>
                </div>
          </div>
        </div>
    
       <div class="form-group">
          <label for="example-date-input" class="col-md-12 control-label"></label>
          <div class="col-md-12">
              <div class="checkbox">
                  <label><input type="checkbox" value="">Top 10  </label>
                </div>
          </div>
        </div>

        <div class="form-group">
            <label for="example-date-input" class="col-md-12 control-label"></label>
            <div class="col-md-12">
                <div class="checkbox">
                    <label><input type="checkbox" value="">En ce moment</label>
                  </div>
            </div>
          </div>
          <div class="form-group">
              <label for="example-date-input" class="col-md-12 control-label"></label>
              <div class="col-md-12">
                  <div class="checkbox">
                      <label><input type="checkbox" value="">Dans ma région</label>
                    </div>
              </div>
            </div>
          
            <div class="form-group">
                <label for="example-date-input" class="col-md-12 control-label"></label>
                <div class="col-md-12">
                    <div class="dropdown" >
                        <button class="btn btn-default dropdown-toggle" style="width: 100%" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          Les régions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item">Toute la France - Liste - Carte</a>
                          <a class="dropdown-item"> Montagne - Liste - Carte</a>
                          <a class="dropdown-item">Campagne - Liste - Carte</a>
                          <a class="dropdown-item">Ville - Liste – Carte</a>
                          <a class="dropdown-item">Village - Liste – Carte</a>
                          <a class="dropdown-item">Mer / Océan - Liste – Carte</a>
                        </div>
                      </div>
                </div>
              </div>

              <hr />
              <fieldset>
                  <legend>Option :</legend>
              <div class="form-group">
                  <label for="example-date-input" class="col-md-12 control-label"></label>
                  <div class="col-md-12">
                      <div class="checkbox">
                          <label><input type="checkbox" value="">Top 10</label>
                        </div>
                  </div>
                </div>

              <div class="form-group">
                  <label for="example-date-input" class="col-md-12 control-label"></label>
                  <div class="col-md-12">
                      <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" style="width: 100%" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Services
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item"> Réception ouverte 24 sur 24</a>
                            <a class="dropdown-item">Navette aéroport</a>
                            <a class="dropdown-item">Bagagerie </a>
                            <a class="dropdown-item">Lave-linge</a>
                            <a class="dropdown-item">Sèche-linge</a>
                            <a class="dropdown-item">Animaux acceptés</a>
                            <a class="dropdown-item">Parking</a>
                            <a class="dropdown-item">Plats à emporter</a>
                          </div>
                        </div>
                  </div>
                </div>

                <div class="form-group">
                    <label for="example-date-input" class="col-md-12 control-label"></label>
                    <div class="col-md-12">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" style="width: 100%" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              Equipements chambre
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item">Chambres familiales (ou chambre de plus de 2 lits)</a>
                              <a class="dropdown-item">Chauffage</a>
                              <a class="dropdown-item">Climatisation</a>
                              <a class="dropdown-item">Chambres non-fumeur</a>
                            </div>
                          </div>
                    </div>
                  </div>
                  <div class="form-group">
                      <label for="example-date-input" class="col-md-12 control-label"></label>
                      <div class="col-md-12">
                          <div class="dropdown">
                              <button class="btn btn-default dropdown-toggle" style="width: 100%" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Equipements établissement
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item">Bibliothèque</a>
                                <a class="dropdown-item">Salon télévision</a>
                                <a class="dropdown-item">Ascenseur</a>
                                <a class="dropdown-item">Accès handicapé</a>
                              </div>
                            </div>
                      </div>
                    </div>

                    <div class="form-group">
                        <label for="example-date-input" class="col-md-12 control-label"></label>
                        <div class="col-md-12">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" style="width: 100%" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="false">
                                  Activités :
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item">Aire de jeux</a>
                                  <a class="dropdown-item">Piscine extérieure</a>
                                  <a class="dropdown-item">Piscine intérieure</a>
                                  <a class="dropdown-item">Piscine chauffée</a>
                                  <a class="dropdown-item">Salle de remise en forme</a>
                                  <a class="dropdown-item">Salle d’activités</a>
                                  <a class="dropdown-item">Terrain multisport</a>
                                  <a class="dropdown-item">longée</a>
                                  <a class="dropdown-item">Vélo</a>
                                  <a class="dropdown-item">Surf</a>
                                  <a class="dropdown-item">Pétanque</a>
                                </div>
                              </div>
                        </div>
                      </div>  
                      </fieldset>

    </form>   
  </div>
  </div>










  <div class="container-fluid">
    <div style="height :1200px ; overflow-x:hidden">
      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <div class="row">
              <div class="col-xs-3 col-md-3 text-center">
                <img class="media-object" width="200" height="200" src="assets/images/h1.jpg">
              </div>
              <div class="col-xs-9 col-md-9 section-box">
                <h2>
                  Offre 1
                </h2>
                <p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                  page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis
                  les années 1500, quand un imprimeur anonyme assembla ensemble
                  des morceaux de texte pour réaliser un livre spécimen de polices de texte. </p>
                <hr />
                <div class="row rating-desc">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-warning btn-lg">Réserver</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top:20px">
        <div class="col-md-12">
          <div class="well">
            <div class="row">
              <div class="col-xs-3 col-md-3 text-center">
                <img class="media-object" width="200" height="200" src="assets/images/h2.jpg">
              </div>
              <div class="col-xs-9 col-md-9 section-box">
                <h2>
                  Offre 2
                </h2>
                <p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                  page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis
                  les années 1500, quand un imprimeur anonyme assembla ensemble
                  des morceaux de texte pour réaliser un livre spécimen de polices de texte. </p>
                <hr />
                <div class="row rating-desc">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-warning btn-lg">Réserver</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" style="margin-top:20px">
          <div class="well">
            <div class="row">
              <div class="col-xs-3 col-md-3 text-center">
                <img class="media-object" width="200" height="200" src="assets/images/h3.jpg">
              </div>
              <div class="col-xs-9 col-md-9 section-box">
                <h2>
                  Offre 3
                </h2>
                <p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                  page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis
                  les années 1500, quand un imprimeur anonyme assembla ensemble
                  des morceaux de texte pour réaliser un livre spécimen de polices de texte. </p>
                <hr />
                <div class="row rating-desc">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-warning btn-lg">Réserver</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" style="margin-top:20px">
          <div class="well">
            <div class="row">
              <div class="col-xs-3 col-md-3 text-center">
                <img class="media-object" width="200" height="200" src="assets/images/h4.jpg">
              </div>
              <div class="col-xs-9 col-md-9 section-box">
                <h2>
                  Offre 4
                </h2>
                <p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                  page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis
                  les années 1500, quand un imprimeur anonyme assembla ensemble
                  des morceaux de texte pour réaliser un livre spécimen de polices de texte. </p>
                <hr />
                <div class="row rating-desc">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-warning btn-lg">Réserver</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" style="margin-top:20px">
          <div class="well">
            <div class="row">
              <div class="col-xs-3 col-md-3 text-center">
                <img class="media-object" width="200" height="200" src="assets/images/h6.jpeg">
              </div>
              <div class="col-xs-9 col-md-9 section-box">
                <h2>
                  Offre 5
                </h2>
                <p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                  page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis
                  les années 1500, quand un imprimeur anonyme assembla ensemble
                  des morceaux de texte pour réaliser un livre spécimen de polices de texte. </p>
                <hr />
                <div class="row rating-desc">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-warning btn-lg">Réserver</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" style="margin-top:20px">
          <div class="well">
            <div class="row">
              <div class="col-xs-3 col-md-3 text-center">
                <img class="media-object" width="200" height="200" src="assets/images/h1.jpg">
              </div>
              <div class="col-xs-9 col-md-9 section-box">
                <h2>
                  Offre 6
                </h2>
                <p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                  page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis
                  les années 1500, quand un imprimeur anonyme assembla ensemble
                  des morceaux de texte pour réaliser un livre spécimen de polices de texte. </p>
                <hr />
                <div class="row rating-desc">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-warning btn-lg">Réserver</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col-md-12" style="margin-top:20px">
            <div class="well">
              <div class="row">
                <div class="col-xs-3 col-md-3 text-center">
                  <img class="media-object" width="200" height="200" src="assets/images/h1.jpg">
                </div>
                <div class="col-xs-9 col-md-9 section-box">
                  <h2>
                    Offre 7
                  </h2>
                  <p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                    page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis
                    les années 1500, quand un imprimeur anonyme assembla ensemble
                    des morceaux de texte pour réaliser un livre spécimen de polices de texte. </p>
                  <hr />
                  <div class="row rating-desc">
                    <div class="col-md-12">
                      <button type="button" class="btn btn-warning btn-lg">Réserver</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="margin-top:20px">
              <div class="well">
                <div class="row">
                  <div class="col-xs-3 col-md-3 text-center">
                    <img class="media-object" width="200" height="200" src="assets/images/h1.jpg">
                  </div>
                  <div class="col-xs-9 col-md-9 section-box">
                    <h2>
                      Offre 8
                    </h2>
                    <p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                      page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis
                      les années 1500, quand un imprimeur anonyme assembla ensemble
                      des morceaux de texte pour réaliser un livre spécimen de polices de texte. </p>
                    <hr />
                    <div class="row rating-desc">
                      <div class="col-md-12">
                        <button type="button" class="btn btn-warning btn-lg">Réserver</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
              <div class="col-md-12" style="margin-top:20px">
                <div class="well">
                  <div class="row">
                    <div class="col-xs-3 col-md-3 text-center">
                      <img class="media-object" width="200" height="200" src="assets/images/h1.jpg">
                    </div>
                    <div class="col-xs-9 col-md-9 section-box">
                      <h2>
                        Offre 9
                      </h2>
                      <p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                        page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis
                        les années 1500, quand un imprimeur anonyme assembla ensemble
                        des morceaux de texte pour réaliser un livre spécimen de polices de texte. </p>
                      <hr />
                      <div class="row rating-desc">
                        <div class="col-md-12">
                          <button type="button" class="btn btn-warning btn-lg">Réserver</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="margin-top:20px">
                  <div class="well">
                    <div class="row">
                      <div class="col-xs-3 col-md-3 text-center">
                        <img class="media-object" width="200" height="200" src="assets/images/h1.jpg">
                      </div>
                      <div class="col-xs-9 col-md-9 section-box">
                        <h2>
                          Offre 10
                        </h2>
                        <p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                          page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis
                          les années 1500, quand un imprimeur anonyme assembla ensemble
                          des morceaux de texte pour réaliser un livre spécimen de polices de texte. </p>
                        <hr />
                        <div class="row rating-desc">
                          <div class="col-md-12">
                            <button type="button" class="btn btn-warning btn-lg">Réserver</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                  <div class="col-md-12" style="margin-top:20px">
                    <div class="well">
                      <div class="row">
                        <div class="col-xs-3 col-md-3 text-center">
                          <img class="media-object" width="200" height="200" src="assets/images/h1.jpg">
                        </div>
                        <div class="col-xs-9 col-md-9 section-box">
                          <h2>
                            Offre 11
                          </h2>
                          <p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                            page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis
                            les années 1500, quand un imprimeur anonyme assembla ensemble
                            des morceaux de texte pour réaliser un livre spécimen de polices de texte. </p>
                          <hr />
                          <div class="row rating-desc">
                            <div class="col-md-12">
                              <button type="button" class="btn btn-warning btn-lg">Réserver</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="margin-top:20px">
                      <div class="well">
                        <div class="row">
                          <div class="col-xs-3 col-md-3 text-center">
                            <img class="media-object" width="200" height="200" src="assets/images/h1.jpg">
                          </div>
                          <div class="col-xs-9 col-md-9 section-box">
                            <h2>
                              Offre 12
                            </h2>
                            <p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                              page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis
                              les années 1500, quand un imprimeur anonyme assembla ensemble
                              des morceaux de texte pour réaliser un livre spécimen de polices de texte. </p>
                            <hr />
                            <div class="row rating-desc">
                              <div class="col-md-12">
                                <button type="button" class="btn btn-warning btn-lg">Réserver</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                      <div class="col-md-12" style="margin-top:20px">
                        <div class="well">
                          <div class="row">
                            <div class="col-xs-3 col-md-3 text-center">
                              <img class="media-object" width="200" height="200" src="assets/images/h1.jpg">
                            </div>
                            <div class="col-xs-9 col-md-9 section-box">
                              <h2>
                                Offre 13
                              </h2>
                              <p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                                page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis
                                les années 1500, quand un imprimeur anonyme assembla ensemble
                                des morceaux de texte pour réaliser un livre spécimen de polices de texte. </p>
                              <hr />
                              <div class="row rating-desc">
                                <div class="col-md-12">
                                  <button type="button" class="btn btn-warning btn-lg">Réserver</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" style="margin-top:20px">
                          <div class="well">
                            <div class="row">
                              <div class="col-xs-3 col-md-3 text-center">
                                <img class="media-object" width="200" height="200" src="assets/images/h1.jpg">
                              </div>
                              <div class="col-xs-9 col-md-9 section-box">
                                <h2>
                                  Offre 14
                                </h2>
                                <p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                                  page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis
                                  les années 1500, quand un imprimeur anonyme assembla ensemble
                                  des morceaux de texte pour réaliser un livre spécimen de polices de texte. </p>
                                <hr />
                                <div class="row rating-desc">
                                  <div class="col-md-12">
                                    <button type="button" class="btn btn-warning btn-lg">Réserver</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                          <div class="col-md-12" style="margin-top:20px">
                            <div class="well">
                              <div class="row">
                                <div class="col-xs-3 col-md-3 text-center">
                                  <img class="media-object" width="200" height="200" src="assets/images/h1.jpg">
                                </div>
                                <div class="col-xs-9 col-md-9 section-box">
                                  <h2>
                                    Offre 15
                                  </h2>
                                  <p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                                    page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis
                                    les années 1500, quand un imprimeur anonyme assembla ensemble
                                    des morceaux de texte pour réaliser un livre spécimen de polices de texte. </p>
                                  <hr />
                                  <div class="row rating-desc">
                                    <div class="col-md-12">
                                      <button type="button" class="btn btn-warning btn-lg">Réserver</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" style="margin-top:20px">
                              <div class="well">
                                <div class="row">
                                  <div class="col-xs-3 col-md-3 text-center">
                                    <img class="media-object" width="200" height="200" src="assets/images/h1.jpg">
                                  </div>
                                  <div class="col-xs-9 col-md-9 section-box">
                                    <h2>
                                      Offre 16
                                    </h2>
                                    <p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                                      page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis
                                      les années 1500, quand un imprimeur anonyme assembla ensemble
                                      des morceaux de texte pour réaliser un livre spécimen de polices de texte. </p>
                                    <hr />
                                    <div class="row rating-desc">
                                      <div class="col-md-12">
                                        <button type="button" class="btn btn-warning btn-lg">Réserver</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>



    </div>
  </div>