  
  <!--banner-->
  <video autoplay muted loop id="voyage">
      <source src="assets/videos/voayagepage.mp4" type="video/mp4">
  </video>
  
  <div class="container">
      <header class="blog-header py-3">
          <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 text-center">
                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Ville,Quartier ou Nom d'établissement">
            </div>
            <div class="col-3 text-center">
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Date et Durées">
              </div>
              <div class="col-3 text-center">
                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Personnes (Adultes et enfants)">
                </div>
                <div class="col-4 text-center">
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                  </div>
          </div>
        </header>
      </div>
  
  <!-- body -->
  <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <video autoplay muted loop id="myVideo">
              <source src="https://v.ftcdn.net/01/37/52/30/240_F_137523087_4PeZUW8hPnIDGO7YmwpVqWcqQ6Cwfyja_ST.mp4 " type="video/mp4">
            </video>
          </div>
          <div class="col-sm-4">
            <video autoplay muted loop id="myVideo">
              <source src="https://v.ftcdn.net/00/98/70/79/700_F_98707971_IBI5OjF29QDxdXI1MOiImMu3E2wqlBFu_ST.mp4" type="video/mp4">
            </video>
          </div>
          <div class="col-sm-4">
            <video autoplay muted loop id="myVideo">
              <source src="../assets/videos/voyage3.mp4" type="video/mp4">
            </video>
          </div>
    
          <div class="col-sm-4">
            <video autoplay muted loop id="myVideo">
              <source src="../assets/videos/voyage4.mp4" type="video/mp4">
            </video>
          </div>
          <div class="col-sm-4">
            <video autoplay muted loop id="myVideo">
                <source src="../assets/videos/voyage5.mp4" type="video/mp4">
            </video>
          </div> 
          <div class="col-sm-4">
              <video autoplay muted loop id="myVideo">
                  <source src="https://v.ftcdn.net/00/98/70/79/700_F_98707971_IBI5OjF29QDxdXI1MOiImMu3E2wqlBFu_ST.mp4" type="video/mp4">
              </video>
            </div> 
          <!--  <div class="col-sm-4">
                <video autoplay muted loop id="myVideo">
                    <source src="../assets/videos/voyage7.mp4" type="video/mp4">
                </video>
              </div> -->
        </div>
      </div>
    </section>

    