

<video autoplay muted loop id="home">
    <source src="assets/videos/offrepage.mp4" type="video/mp4">
  </video>
  
<div class="sidenav">
    <div class="side-in">
      <div class="side-menu">
        <ul>
          <li>
            <a>Home</a>
          </li>
          <li><a>About Us</a></li>
          <li><a>Service</a></li>
          <li id="activeSide"><a>Blog</a></li>
          <li><a>Contact Us</a></li>
          <li><a>Login</a></li>
          <li><a>About Us</a></li>
          <li><a>Service</a></li>
          <li><a>Blog</a></li>
          <li><a>Contact Us</a></li>
          <li><a>Login</a></li>
        </ul>
      </div>
      </div>
  </div> 




  
  <div class="container-fluid">
      <div style="margin-bottom :50px">
      <div class="row">
          <div class="col-sm-4">
            <video autoplay muted loop id="myVideo">
              <source src="https://v.ftcdn.net/01/37/52/30/240_F_137523087_4PeZUW8hPnIDGO7YmwpVqWcqQ6Cwfyja_ST.mp4 " type="video/mp4">
            </video>
          </div>
          <div class="col-sm-4">
            <video autoplay muted loop id="myVideo">
              <source src="https://v.ftcdn.net/00/98/70/79/700_F_98707971_IBI5OjF29QDxdXI1MOiImMu3E2wqlBFu_ST.mp4" type="video/mp4">
            </video>
          </div>
          <div class="col-sm-4">
            <video autoplay muted loop id="myVideo">
              <source src="../assets/videos/voyage3.mp4" type="video/mp4">
            </video>
          </div>
    
          <div class="col-sm-4">
            <video autoplay muted loop id="myVideo">
              <source src="../assets/videos/voyage4.mp4" type="video/mp4">
            </video>
          </div>
          <div class="col-sm-4">
            <video autoplay muted loop id="myVideo">
                <source src="../assets/videos/voyage5.mp4" type="video/mp4">
            </video>
          </div> 
          <div class="col-sm-4">
              <video autoplay muted loop id="myVideo">
                  <source src="https://v.ftcdn.net/00/98/70/79/700_F_98707971_IBI5OjF29QDxdXI1MOiImMu3E2wqlBFu_ST.mp4" type="video/mp4">
              </video>
            </div> 
        </div>
     </div>
    </div>
 








