<!-- banner 
<video autoplay muted loop id="myVideo">
    <source src="assets/videos/rain.mp4" type="video/mp4">
  </video>
-->
<!-- header 
<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand">
        <img src="assets/images/logo_ancavtt.jpg" class="rounded" width="100" height="100" alt="Cinque Terre">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars mfa-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-link" style="color:white">
          +33 951 01010101
          <i style="color:white" class="fa fa-phone-square fa-2x"></i>
        </li>
        <li class="nav-link">
        </li>
        <li class="nav-link">
          </li>
        <li class="nav-link">
          <i style="color:white" class="fa fa-search fa-2x"></i>
        </li>
        <li class="nav-link">
          <i style="color:white" class="fa fa-user-o fa-2x" data-toggle="modal" data-target="#exampleModal" aria-hidden="true"></i>
        </li>

      </ul>
    </div>
  </div>
</nav> -->

<div class="container">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <img routerLink="/home" src="assets/images/logo_ancavtt.jpg" class="my-0 mr-md-auto font-weight-normal rounded"
      width="100" height="80" alt="Cinque Terre">
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark">
        +33 951 01010101
        <i class="fa fa-phone-square fa-2x"></i></a>
      <a class="p-2 text-dark"> <i class="fa fa-search fa-2x"></i></a>
    </nav>
    <i class="fa fa-user-o fa-2x" data-toggle="modal" data-target="#exampleModal" aria-hidden="true"></i>
  </div>
</div>
<!--banner-->
<video autoplay muted loop id="myVideo">
  <source src="assets/videos/rain.mp4" type="video/mp4">
</video>


<router-outlet></router-outlet>







<!-- populate offre-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="title-heading text-center font-weight-bold">Popular Destination</h3>
      <p class="myp text-center">Lorem Ipsum is simply dummy text</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-6 box" id="boxOne">
    </div>

    <div class="col-sm-3 col-xs-6 box" id="boxTwo">
    </div>

    <div class="col-sm-3 col-xs-6 box" id="boxTwo">
    </div>

    <div class="col-sm-3 col-xs-6 box" id="boxSeven">
    </div>

    <div class="col-sm-6 col-xs-6  box" id="boxEight">
    </div>

    <div class="col-sm-3 col-xs-6 box" id="boxSeven">
    </div>
  </div>
</div>

<!-- footer-->
<footer class="container-fluid" style="background-color :#000063 ;color :white">
  <div class="container" style="padding-top: 20px">
    <div class="row">
      <div class="col-12 col-md">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2">
          <circle cx="12" cy="12" r="10"></circle>
          <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
          <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
          <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
          <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
          <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
          <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
        </svg>
        <small class="d-block mb-3">&copy; 2017-2018</small>
      </div>
      <div class="col-6 col-md">
        <h5>Explore</h5>
        <ul class="list-unstyled text-small">
          <li><a>Home</a></li>
          <li><a>Categorie</a></li>
          <li><a routerLink="/offres" style="color :yellow">offers</a></li>
          <li><a>Amenties</a></li>
          <li><a>Gallery</a></li>
          <li><a>Contcat</a></li>
          <li><a>Réservation</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Visit</h5>
        <ul class="list-unstyled text-small">
          <li><a>Resource</a></li>
          <li><a>Resource name</a></li>
          <li><a>Another resource</a></li>
          <li><a>Final resource</a></li>
        </ul>
        <h5>NEW BUSINESS</h5>
        <ul class="list-unstyled text-small">
          <li><a>info@tourismistic.com</a></li>
          <li><a style="color :yellow">08700500-44-99</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Follow</h5>
        <ul class="list-unstyled text-small">
          <li><a><i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;Facebook</a></li>
          <li><a><i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;Twitter</a></li>
          <li><a><i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;Instagram</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Legal</h5>
        <ul class="list-unstyled text-small">
          <li><a>Privacy</a></li>
          <li><a>Terms</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">login Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="login-form">
          <div class="main-div">
            <div class="panel">
              <p>Please enter your email and password</p>
            </div>
            <form id="Login">
              <div class="form-group">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email Address">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>