
  <!--banner-->
  <video autoplay muted loop id="home">
      <source src="https://v.ftcdn.net/02/27/26/41/700_F_227264136_YbSysQ4B5TlEB3ODipxc1kuTGkhMNIgl_ST.mp4 " type="video/mp4">
    </video>
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted">  <div class="nav-scroller py-1 mb-2">
          <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" routerLink="/voyager">Surprenez-moi </a>
            <a class="p-2 text-muted" routerLink="/visiter" >Spectacle </a>
            <a class="p-2 text-muted" routerLink="/pratiquer">Cinéma</a>
            <a class="p-2 text-muted" routerLink="/amuser">Musées / Exhibitions </a>
            <a class="p-2 text-muted" routerLink="/famille">Héritage / Monuments</a>
            <a class="p-2 text-muted" routerLink="/couple">Jeune public</a>
            <a class="p-2 text-muted" routerLink="/solo">Lectures</a>
            <a class="p-2 text-muted" routerLink="/jeune">Cirques</a>
            <a class="p-2 text-muted"  routerLink="/scolaire">Excursion / Tourisme</a>
            <a class="p-2 text-muted" routerLink="/groupe">Parcs à thème</a>
          </nav>
      </div>

    <div style="overflow:auto">
        <div class="menu">
          <!-- <agm-map [latitude]="lat" [longitude]="lng"></agm-map> -->
            <img src="../assets/images/mapas.JPG"/>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Dapibus ac facilisis in
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Dapibus ac facilisis in
      
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Morbi leo risus
      
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Morbi leo risus
      
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Morbi leo risus
      
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Morbi leo risus
      
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Morbi leo risus
      
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Morbi leo risus
      
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Morbi leo risus
        
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                  Morbi leo risus
          
                </li>
          </ul>
        </div>
      
        <!-- body -->
        <section>
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-4">
                <video autoplay muted loop id="myVideo">
                  <source src="https://v.ftcdn.net/01/75/20/72/700_F_175207241_T3BC0LM6T8A7zzzZuP9iMfqkS828XVGq_ST.mp4" type="video/mp4">
                </video>
              </div>
              <div class="col-sm-4">
                <video autoplay muted loop id="myVideo">
                  <source src="https://v.ftcdn.net/02/22/29/45/700_F_222294585_8n2q8ltO5n5WpIckPRU8BGRswNPHggVe_ST.mp4" type="video/mp4">
                </video>
              </div>
              <div class="col-sm-4">
                <video autoplay muted loop id="myVideo">
                  <source src="https://v.ftcdn.net/02/22/29/45/700_F_222294585_8n2q8ltO5n5WpIckPRU8BGRswNPHggVe_ST.mp4 " type="video/mp4">
                </video>
              </div>
      
              <div class="col-sm-4">
                <video autoplay muted loop id="myVideo">
                  <source src="https://v.ftcdn.net/02/20/44/77/700_F_220447790_RoFrHcB6MI2l7FJtluuV5223C90wlcY2_ST.mp4 " type="video/mp4">
                </video>
              </div>
              <div class="col-sm-4">
                <video autoplay muted loop id="myVideo">
                  <source src="assets/videos/famille.mp4" type="video/mp4">
                </video>
              </div>
      
              <div class="col-sm-4">
                <video autoplay muted loop id="myVideo">
                  <source src="assets/videos/couple.mp4" type="video/mp4">
                </video>
              </div>
              <div class="col-sm-4">
                <video autoplay muted loop id="myVideo">
                  <source src="assets/videos/solo.mp4" type="video/mp4">
                </video>
              </div>
              <div class="col-sm-4">
                <video autoplay muted loop id="myVideo">
                  <source src="assets/videos/jeune.mp4" type="video/mp4">
                </video>
              </div>
      
              <div class="col-sm-4">
                <video autoplay muted loop id="myVideo">
                  <source src="assets/videos/scolaire.mp4" type="video/mp4">
                </video>
              </div>
            <!--  <div class="col-sm-4">
                <video autoplay muted loop id="myVideo">
                  <source src="assets/videos/groupe.mp4" type="video/mp4">
                </video>
              </div>-->
      
            </div>
          </div>
        </section>


