/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~font-awesome/css/font-awesome.css";


img {
    max-width: 100%;
    height: auto;
  }
  
  video {
    width: 110%;
    height: auto;
  }

  .menu {
    float:left;
    width:20%;
    text-align:center;
  }
  .main {
    float:left;
    width:100%;
    padding:0 20px;
  }
  


