
  
  <!-- top navigation 
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/btn-1.png">
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/btn-2.png">
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/btn-3.png">
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/btn-4.png">
        </div>
      </div>
    </div>
  </div> -->

  <!--banner-->
  
   <video width="500" autoplay muted loop id="home">
    <source src="assets/videos/banner.mp4" type="video/mp4">
  </video>
  


  <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted">  <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" routerLink="/voyager">Voyager </a>
          <a class="p-2 text-muted" routerLink="/visiter" >Visiter </a>
          <a class="p-2 text-muted" routerLink="/pratiquer">Pratiquer</a>
          <a class="p-2 text-muted" routerLink="/amuser">Me défouler </a>
          <a class="p-2 text-muted" routerLink="/famille">En famille</a>
          <a class="p-2 text-muted" routerLink="/couple">En couple</a>
          <a class="p-2 text-muted" routerLink="/solo">En solo</a>
          <a class="p-2 text-muted" routerLink="/jeune">Jeunes & Ados</a>
          <a class="p-2 text-muted"  routerLink="/scolaire">Scolaires</a>
        </nav>
    </div>
  
  <!-- body -->
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <video   autoplay muted loop id="myVideo">
            <source src="assets/videos/voyager.mp4" type="video/mp4">
          </video>
        </div>
        <div class="col-sm-4">
          <video  sautoplay muted loop id="myVideo">
            <source src="assets/videos/culture.mp4" type="video/mp4">
          </video>
        </div>
        <div class="col-sm-4">
          <video  autoplay muted loop id="myVideo">
            <source src="assets/videos/pratiquer.mp4" type="video/mp4">
          </video>
        </div>
  
        <div class="col-sm-4">
          <video autoplay muted loop id="myVideo">
            <source src="assets/videos/amuser.mp4" type="video/mp4">
          </video>
        </div>
        <div class="col-sm-4">
          <video autoplay muted loop id="myVideo">
            <source src="assets/videos/famille.mp4" type="video/mp4">
          </video>
        </div>
  
        <div class="col-sm-4">
          <video autoplay muted loop id="myVideo">
            <source src="assets/videos/couple.mp4" type="video/mp4">
          </video>
        </div>
        <div class="col-sm-4">
          <video autoplay muted loop id="myVideo">
            <source src="assets/videos/solo.mp4" type="video/mp4">
          </video>
        </div>
        <div class="col-sm-4">
          <video autoplay muted loop id="myVideo">
            <source src="assets/videos/jeune.mp4" type="video/mp4">
          </video>
        </div>
  
        <div class="col-sm-4">
          <video autoplay muted loop id="myVideo">
            <source src="assets/videos/scolaire.mp4" type="video/mp4">
          </video>
        </div>
  
      </div>
    </div>
  </section>

  