
  
  <!-- top navigation 
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/btn-1.png">
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/btn-2.png">
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/btn-3.png">
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/btn-4.png">
        </div>
      </div>
    </div>
  </div> -->

  <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="#">  <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="#">Partir </a>
          <a class="p-2 text-muted" href="#">Voir </a>
          <a class="p-2 text-muted" href="#">Pratiquer</a>
          <a class="p-2 text-muted" href="#">Me défouler </a>
          <a class="p-2 text-muted" href="#">En famille</a>
          <a class="p-2 text-muted" href="#">En couple</a>
          <a class="p-2 text-muted" href="#">En solo</a>
          <a class="p-2 text-muted" href="#">Jeunes & Ados</a>
          <a class="p-2 text-muted" href="#">Scolaires</a>
          <a class="p-2 text-muted" href="#">Groupe</a>
        </nav>
    </div>
  
  <!-- body -->
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <video autoplay muted loop id="myVideo">
            <source src="assets/videos/voyager.mp4" type="video/mp4">
          </video>
        </div>
        <div class="col-sm-4">
          <video autoplay muted loop id="myVideo">
            <source src="assets/videos/culture.mp4" type="video/mp4">
          </video>
        </div>
        <div class="col-sm-4">
          <video autoplay muted loop id="myVideo">
            <source src="assets/videos/pratiquer.mp4" type="video/mp4">
          </video>
        </div>
  
        <div class="col-sm-4">
          <video autoplay muted loop id="myVideo">
            <source src="assets/videos/amuser.mp4" type="video/mp4">
          </video>
        </div>
        <div class="col-sm-4">
          <video autoplay muted loop id="myVideo">
            <source src="assets/videos/famille.mp4" type="video/mp4">
          </video>
        </div>
  
        <div class="col-sm-4">
          <video autoplay muted loop id="myVideo">
            <source src="assets/videos/couple.mp4" type="video/mp4">
          </video>
        </div>
        <div class="col-sm-4">
          <video autoplay muted loop id="myVideo">
            <source src="assets/videos/solo.mp4" type="video/mp4">
          </video>
        </div>
        <div class="col-sm-4">
          <video autoplay muted loop id="myVideo">
            <source src="assets/videos/jeune.mp4" type="video/mp4">
          </video>
        </div>
  
        <div class="col-sm-4">
          <video autoplay muted loop id="myVideo">
            <source src="assets/videos/scolaire.mp4" type="video/mp4">
          </video>
        </div>
        <div class="col-sm-4">
          <video autoplay muted loop id="myVideo">
            <source src="assets/videos/groupe.mp4" type="video/mp4">
          </video>
        </div>
  
      </div>
    </div>
  </section>

  



  
  <!-- populate
  
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h3 class="title-heading text-center font-weight-bold">Popular Destination</h3>
          <p class="myp text-center">Lorem Ipsum is simply dummy text</p>
        </div>
      </div>
      <div class="row">
          <div class="gallery" id="gallery">
              <div class="mb-3 pics animation all 2">
                <img class="img-fluid" src="assets/images/paris.jpg" alt="Card image cap">
              </div>
              <div class="mb-3 pics animation all 1">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg" alt="Card image cap">
              </div>
              <div class="mb-3 pics animation all 1">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg" alt="Card image cap">
              </div>
              <div class="mb-3 pics animation all 2">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap">
              </div>
              <div class="mb-3 pics animation all 2">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
              </div>
              <div class="mb-3 pics animation all 1">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg" alt="Card image cap">
              </div>
            </div>
      </div>
    </div>
   -->